/* Global */

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  background: url("../Images/road.jpg");
  background-size: 150% 150;
  background-position: center;
  animation: 60s linear 0s infinite background_move;
  height: 80%;
  min-height: 100vh;
}



@keyframes background_move {
  from {
    background-position: top;
  }
  to {
    background-position: down;
  }
}

main {
  position: absolute;
  height: 100%;
  left: 10px; right: 10px;
  padding: 0;
  margin: 0;
  top: 15%;
}

/* Header + Navigation Bar */
header, footer {
  z-index: 100;
  font-size: 6.5vw;
  height: 5%;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  background-color: rgba(64, 100, 139, 0.5);
  top: 5%;
  left: 5%;
  width: 90%;
  position: fixed;
  display: flex;
}

nav {
  height: 100%;
  display: flex;
  margin: 0 auto 0 auto;
}

nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  align-self: flex-end;
  background: radial-gradient(rgba(64, 100, 139, 0.5), rgba(36, 121, 211, 0.5));
}

nav > ul:hover {
  background: radial-gradient(rgba(36, 121, 211, 0.5), rgba(64, 100, 139, 0.5));
}

nav > ul > li {
  float: left;
  padding: 0 1vw 0 1vw;
}

nav > ul > li:first-child {
  border-left: none;
}

nav > ul > li > a:hover {
  color: rgb(9, 9, 105);
}

nav > ul > li > a {
  letter-spacing: -0.25vw;
  color: black;
}

a[href^="index"] {
  color: white;
}

/* Utilities */

#utilities {
  width: 80%;
  border: 0.2vw black solid;
  margin: 1vh;
  background: lightgray;
  display: inline-block;
}

#edit-button {
}

.utilities {
  float:right;
  border: 0.2vw black solid;
  margin-left: 1px;
  margin-right: 1px;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

/* DashBoard */
.dashboard {
  border: 0.1vw white solid;
  bottom: 10px;
  display: grid;
  grid-template-rows: 200px 1fr 200px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-flow: row;
  box-sizing: border-box;
  align-content: stretch;	
  width: 100%;
  min-width: 0;
  height: 100vh;
}

.modules {
  background-color: rgba(117, 29, 33, 0.363);
  background: radial-gradient(rgba(64, 100, 139, 0.5), rgba(36, 121, 211, 0.5));
  background: radial-gradient(rgba(104, 108, 112, 0.5), rgba(36, 121, 211, 0.5));
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  margin: 0.5vw;
  border: 1px white solid;
  box-sizing: border-box;
}

#testing { 
  order: 1;
  overflow: hidden;
}

#testing2 {
  order: 4;
  overflow: hidden;
}

/* Location app */

#location-container {
  height: 100%;
  grid-row: span 2;
  order: 2;
  /*
  background: rgb(183,173,178);
  background: linear-gradient(90deg, rgba(183,173,178,1) 0%, rgba(236,69,96,1) 0%, rgba(53,136,201,1) 100%); 
  */
  font-size: 10px;

  display: grid;
  grid-template-rows: [title] 5% [input-row] 40% [map] 40% [extra-info] 10%;
  grid-template-columns: [input-start] 45% [swaps] 10% [input-destination] 45%;
  margin-top: 0;
}

#location-header {
  grid-row: title;
  grid-column: 1 / -1;
  text-align: center;
}

#title {
  display:inline-block;
  text-align: center;
  margin: 0 auto;
  z-index: 10;
  background: rgb(183,173,178);
  background: linear-gradient(90deg,rgb(127, 198, 231) 0%, rgba(53,136,201,1) 100%); 
  border: 0.1px rgb(240, 239, 239) solid;
  border-radius: 4px;
  color: rgb(153, 38, 38);
}


.current-img {
  opacity: 0.2;
}

h1 {
  margin: 0;
}

#instructions {
  top: 1%;
  border: 0.2vw black solid;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  padding: none;
  margin: none;
  right: 5%;
  text-align: right;
  background: rgb(183,173,178);
  background: linear-gradient(90deg, rgba(183,173,178,1) 0%, rgba(236,69,96,1) 0%, rgba(53,136,201,1) 100%); 
  visibility:  hidden;
}

ol {
  list-style: none;
  margin: 0;
  color: rgb(240, 239, 239);
  font-weight: bold;
}


#input-start {
  grid-row: input-row;
  grid-column: input-start;
  background: linear-gradient(
    90deg,
    #ec4560 10%,
    rgb(175, 25, 8) 80%
  );
}

#input-destination {
  grid-row: input-row;
  grid-column: input-destination;
  background: linear-gradient(
    90deg,
    rgba(183, 173, 178, 1) 0%,
    rgba(53, 136, 201, 1) 0%,
    rgba(69, 163, 236, 1) 100%
  );
}

.input {
  box-sizing:border-box;
  z-index: 5;
  border: 1px solid black;
  background: white;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  max-width: 100%;
  height: 100%;
}

input {
  max-width: 90%;
  margin: 0;
  padding: 0;
}

input[type=text]:focus {
  background-color: lightblue;
}

.info {
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  background: rgb(183, 173, 178);
  background: linear-gradient(
    90deg,
    rgba(183, 173, 178, 1) 0%,
    rgba(212, 206, 209, 1) 0%,
    rgba(255, 255, 255, 0.47394957983193275) 93%
  );
}

.location-h2 {
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  background: rgb(183, 173, 178);
  background: linear-gradient(
    90deg,
    rgba(183, 173, 178, 1) 0%,
    rgba(212, 206, 209, 1) 0%,
    rgba(255, 255, 255, 0.47394957983193275) 93%
  );
  text-align: center;
  margin: 0;
}

.location-info {
  font-weight: bold;
}

#switch-inputs {
  grid-row: input-row;
  grid-column: swaps;
  place-self: center;
  border: 1px black solid;
}

#swap-button {
}

#map {
  border: 0.3vw solid black;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  grid-row: map;
  grid-column: 1/ -1;
  min-height: 20vh;
}

#mapid {
  height: 100%;
}

#extra-info {
  padding-top:5%;
  font-size: 8px;
  height: 100%;
  width: 100%;
  grid-row: extra-info;
  grid-column: 1/-1;
}

#distance-box {
  height: 100%;
  font-size: 15px;
  color:white;
}




/* Weather-app */

.weather-app {
  border: 0.1vw white solid;
  grid-rows: span 2;
  color: white;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  padding: 0;
  
  box-sizing: border-box;
  overflow:hidden;
  height: auto;
  grid-row: span 2;
  order: 3;
}


.weather-app-container {
  display: grid;
  grid-template-rows: [input] 1fr [current-weather] 0fr [body] 10vh [footer] 10vh;
  grid-template-columns: [left-section] 40% [right-section] 60%;
  padding-right: 10px;
  border: 1px black solid;
  box-sizing: border-box;
  width: auto;
  height: auto;
}

#weather-title {
  text-align: center;
}

.location-input {
  grid-row: input;
  grid-column: span 2;
}

.current-weather-info {
  grid-row: current-weather;
  grid-column: span 2;
}

.weather-app-container > aside {
  max-height: 100%;
  min-width: 10vw;
  justify-self: center;
  grid-row: body/ span 2;
  grid-column: left-section / span 1;
  border: 0.1vw white solid;
  padding: 0.5vw;
  place-self: stretch;
}

#hourly-temperature {
  background-color: rgba(138, 185, 201, 0.5);
  height: 100%;
}

.tempTimes {
  font-size: 15px;
  color: white;
  border: 1px black solid;
}

figure {
  display: block;
  margin: 0;
}


.window {
  justify-self: center;
  grid-row: body;
  border: 0.1vw white solid;
  width: 80%;
  height: 100%;
  overflow:hidden;
  border-radius: 2px;
  box-shadow: 0 10px 6px -6px rgba(230, 232, 235, 0.26);
}

.window > img {
  z-index: 0;
  justify-self: center;
  display: block;
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  animation: 10s linear infinite moveDown;
  opacity: 0.7;
}

@keyframes moveDown {
  0% { transform: translateY(-10vh);}
}

.forecast {
  grid-row: footer;
  grid-column:right-section;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.day {
  height: 100%;
  display: grid;
  grid: [day] 2fr [day-icon] 4fr [temperatures] 2fr/ 1fr;
  justify-content: center;
}

.dates {
  text-align: center;
  grid-row: day / span 1;
  grid-column: 1 / 1;
}

.day-img {
  grid-row: day-icon / span 1;
  z-index: 5;
  background-size: 100% 100%;
  margin: auto auto;
  /* To get rid of figure default values */
  margin-top: 0;
  margin-bottom: 0;
}

.day > figcaption {
  text-align: center;
  grid-row: temperatures / span 2;
  display: inline-block;
}


.maxTemp {
  display: inline-block;
  width: 100%;
  color: black;
  background-color: rgba(236, 35, 35, 0.5);
  border: 0.4px black solid;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.minTemp {
  width: 100%;
  display: inline-block;
  color: black;
  background-color: rgba(73, 193, 233, 0.5);
  border: 0.4px black solid;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}




/* Footer */
.contact-sec {
  width: 100%;
  
}
footer {
  text-align: right;
  color: white;
  font-size: 1vw;
  top: 95%;;
  height: 5%;
}


/* ---------------------------------------------------------------------- */
/* Media queries sizing for responsiveness */
@media (max-width: 575px) {
  header {
  }
  .nav-extra-container {
  }


  footer {
    font-size: 3vw;
  }

}
@media (min-width: 576px) and (max-width: 767px) {
  header {
    font-size: 6vw;
    height: 10%;
  }
  
  /*
  .dashboard {
    display: flex;
  }

  .weather-app {
    height: 80%;
    width: 100%;
  }
  */

  
}
@media (min-width: 768px) and (max-width: 991px) {
  header {
    font-size: 5vw;
    height: 10%;
  }
  
 

}
@media (min-width: 992px) {
  header {
    font-size: 4vw;
    height: 10%;
  }


}
/* .grid-container {
     background-color: lightblue;
     display: grid;
     grid-template-columns: auto auto auto auto;
     grid-gap: 10px;
     background-color: #2196F3;
     padding: 10px;
 } */
