/* Global */

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  background: url("../Images/road.jpg");
  background-size: 150% 150;
  background-position: center;
  animation: 60s linear 0s infinite background_move;
  height: 80%;
  min-height: 100vh;
}



@keyframes background_move {
  from {
    background-position: top;
  }
  to {
    background-position: down;
  }
}

main {
  position: absolute;
  height: 100%;
  left: 10px; right: 10px;
  padding: 0;
  margin: 0;
  top: 10%;
}

/* Header + Navigation Bar */
header, footer {
  z-index: 5;
  font-size: 6.5vw;
  height: 5%;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  background-color: rgba(64, 100, 139, 0.5);
  top: 5%;
  left: 5%;
  width: 90%;
  position: fixed;
  display: flex;
}

nav {
  height: 100%;
  display: flex;
  margin: 0 auto 0 auto;
}

nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  align-self: flex-end;
  background: radial-gradient(rgba(64, 100, 139, 0.5), rgba(36, 121, 211, 0.5));
}

nav > ul:hover {
  background: radial-gradient(rgba(36, 121, 211, 0.5), rgba(64, 100, 139, 0.5));
}

nav > ul > li {
  float: left;
  padding: 0 1vw 0 1vw;
}

nav > ul > li:first-child {
  border-left: none;
}

nav > ul > li > a:hover {
  color: rgb(9, 9, 105);
}

nav > ul > li > a {
  letter-spacing: -0.25vw;
  color: black;
}

a[href^="index"] {
  color: white;
}

/* DashBoard */
.dashboard {
  position: absolute;
  border: 0.1vw white solid;
  top: 10%;
  bottom: 10px;
  display: grid;
  grid-template-rows: 200px 1fr 200px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-flow: row;
  padding: 1vw;
  box-sizing: border-box;
  align-content: stretch;	
  width: 100%;
  min-width: 0;
  height: 100vh;
}

.testing {
  border: 1px white solid;
  overflow: hidden;
}

.testing2 {
  border: 1px white solid;
  overflow: hidden;
}
/* Weather-app */

.weather-app {
  border: 0.1vw white solid;
  grid-rows: span 2;
  color: white;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  padding: 0;
  background-color: rgba(117, 29, 33, 0.363);
  background: radial-gradient(rgba(64, 100, 139, 0.5), rgba(36, 121, 211, 0.5));
  background: radial-gradient(rgba(104, 108, 112, 0.5), rgba(36, 121, 211, 0.5));
  box-sizing: border-box;
  overflow:hidden;
  height: auto;
  grid-row: span 2;
}


.weather-app-container {
  display: grid;
  grid-template-rows: [input] 1fr [current-weather] 0fr [body] 10vh [footer] 10vh;
  grid-template-columns: [left-section] 40% [right-section] 60%;
  padding-right: 10px;
  border: 1px black solid;
  box-sizing: border-box;
  width: auto;
  height: auto;
}

#weather-title {
  text-align: center;
}

.location-input {
  grid-row: input;
  grid-column: span 2;
}

.current-weather-info {
  grid-row: current-weather;
  grid-column: span 2;
}

.weather-app-container > aside {
  max-height: 100%;
  min-width: 10vw;
  justify-self: center;
  grid-row: body/ span 2;
  grid-column: left-section / span 1;
  border: 0.1vw white solid;
  padding: 0.5vw;
  place-self: stretch;
}

#hourly-temperature {
  background-color: rgba(138, 185, 201, 0.5);
  height: 100%;
}

.tempTimes {
  font-size: 15px;
  color: white;
  border: 1px black solid;
}

figure {
  display: block;
  margin: 0;
}


.window {
  justify-self: center;
  grid-row: body;
  border: 0.1vw white solid;
  width: 80%;
  height: 100%;
  overflow:hidden;
  border-radius: 2px;
  box-shadow: 0 10px 6px -6px rgba(230, 232, 235, 0.26);
}

.window > img {
  z-index: 0;
  justify-self: center;
  display: block;
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  animation: 10s linear infinite moveDown;
  opacity: 0.7;
}

@keyframes moveDown {
  0% { transform: translateY(-10vh);}
}

.forecast {
  grid-row: footer;
  grid-column:right-section;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.day {
  height: 100%;
  display: grid;
  grid: [day] 2fr [day-icon] 4fr [temperatures] 2fr/ 1fr;
  justify-content: center;
}

.dates {
  text-align: center;
  grid-row: day / span 1;
  grid-column: 1 / 1;
}

.day-img {
  grid-row: day-icon / span 1;
  z-index: 5;
  background-size: 100% 100%;
  margin: auto auto;
  /* To get rid of figure default values */
  margin-top: 0;
  margin-bottom: 0;
}

.day > figcaption {
  text-align: center;
  grid-row: temperatures / span 2;
  display: inline-block;
}


.maxTemp {
  display: inline-block;
  width: 100%;
  color: black;
  background-color: rgba(236, 35, 35, 0.5);
  border: 0.4px black solid;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.minTemp {
  width: 100%;
  display: inline-block;
  color: black;
  background-color: rgba(73, 193, 233, 0.5);
  border: 0.4px black solid;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}




/* Footer */
.contact-sec {
  width: 100%;
  
}
footer {
  text-align: right;
  color: white;
  font-size: 1vw;
  top: 95%;;
  height: 5%;
}


/* ---------------------------------------------------------------------- */
/* Media queries sizing for responsiveness */
@media (max-width: 575px) {
  header {
  }
  .nav-extra-container {
  }


  footer {
    font-size: 3vw;
  }

}
@media (min-width: 576px) and (max-width: 767px) {
  header {
    font-size: 6vw;
    height: 10%;
  }
  
  /*
  .dashboard {
    display: flex;
  }

  .weather-app {
    height: 80%;
    width: 100%;
  }
  */

  
}
@media (min-width: 768px) and (max-width: 991px) {
  header {
    font-size: 5vw;
    height: 10%;
  }
  
 

}
@media (min-width: 992px) {
  header {
    font-size: 4vw;
    height: 10%;
  }


}
/* .grid-container {
     background-color: lightblue;
     display: grid;
     grid-template-columns: auto auto auto auto;
     grid-gap: 10px;
     background-color: #2196F3;
     padding: 10px;
 } */
